body {
    background-image: url("https://media.tenor.com/lmZslg_-23MAAAAM/%D0%BA%D0%BE%D1%82-%D0%BA%D1%83%D1%80%D0%B8%D1%82-%D0%BA%D0%BE%D1%82.gif");
    background-repeat: repeat;
    background-size: 300px 300px;

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
}

.article-container {
    max-width: 800px;
    width: 50%;

    margin-left: auto;
    margin-right: auto;

    padding: 30px;
    background-color: #181818;
}

.title {
    font-family: "the-last-samurai", sans-serif;
    font-size: 36px;
}

.author-date {
    font-family: "animeace", sans-serif;
    font-size: 12px; 
    color: #bbbbbb;
    margin-bottom: 20px;
    display: block;
    font-weight: normal;
}
.author-label {
    font-family: "animeace-bold", sans-serif;
    font-weight: bold;
}

img {
    max-width: 800px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
    margin-bottom: 15px;
}

.paragraphs {
    font-family: "animeace", sans-serif;
    font-size: 14px;
    /* letter-spacing: 2.16px;
    word-spacing: -1.5px; */

    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
    text-indent: 25px;
}

li {
    margin-left: 25px;
    list-style: none;
    margin-bottom: 16px;
}

ul {

    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    /* background-color: #131313; */

}

a {
    color: #ffa500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #D88304;
}

.sources {
    font-size: 13px;
}

.cigarette {
    max-width: 300px;
    width: 15%;
    position: fixed;
    left: 45px;
    top: 50%;
    bottom: 50%;
    opacity: 0.8;
}

.evicted {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    font-family: "the-last-samurai", sans-serif;
    font-size: 148px;
    padding: 20px;
    border: 15px solid red;
    border-radius: 40px;
    color: red;
    align-items: center;
    text-align: center;
    opacity: 0.8;
}
.evicted p {
    margin: 0;
    padding: 0;
    
}   
 .gif{
    max-width: 300px;
    width: 15%;
    position: fixed;
    right: 45px;
    top: 25%;
} 


/* @font-face {
    font-family: "japan-daisuki";
    src: url("../fonts/Japan Daisuki.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: "the-last-samurai";
    src: url("../fonts/the-last-shuriken.regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "animeace";
    src: url("../fonts/animeace.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "animeace-bold";
    src: url("../fonts/animeace_b.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* 181818 */
/* 1f1f1f */

.educational-footer {
    max-width: 800px;
    width: 50%;
    margin: 40px auto;
    padding: 20px 30px;
    background-color: #0a0a0a;
    border-top: 2px solid #333;
    font-family: "animeace", sans-serif;
    font-size: 11px;
    color: #888;
    text-align: center;
    line-height: 1.6;
}

.educational-footer p {
    margin: 0;
    text-indent: 0;
}